body{
  font-family: 'Varela Round', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sliderContainer {
  width: 100%;
  background-color: #4CAF50;
  padding:0px;
}

.headerContainer{
  height: 52px;
}

.navbar {
  position:fixed;
  top:0;
  width:100%;
  border-radius: 0px;
  padding-right: 1%;
  margin-bottom: 0;
  z-index: 20;
}

.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background-color: #eabf00;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
.modal-login.modal-dialog {
  margin-top: 80px;
}
.modal-login .btn {
  color: #fff;
  border-radius: 4px;
  background: #1b1a20;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #eabf00;
  outline: none;
}

.shelf-container {
  width: 85%;
  float: left; }

.shelf-container .shelf-item {
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent; }

.shelf-container .shelf-item:hover {
  border: 1px solid #eee; }

.shelf-container .shelf-item:hover .shelf-item__buy-btn {
  background-color: #eabf00; }

.shelf-container .shelf-item__buy-btn {
  background-color: #1b1a20;
  color: #fff;
  padding: 15px 0;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s; }

.shelf-item__image{
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin-right:10%;
}

.shelf-container .shelf-item__price .val{
  height: 60px;
  font-size: 1.5em;
  margin-left: 5px;
  color: #9c9b9b;
}

.float-cart {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #1b1a20;
  box-sizing: border-box;
  transition: right 0.2s; }
.float-cart--open {
  right: 0; }
.float-cart__close-btn {
  width: 50px;
  height: 50px;
  color: #ececec;
  background-color: #1b1a20;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: -50px;
  cursor: pointer; }
.float-cart__close-btn:hover {
  background-color: #212027; }
.float-cart .bag {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background-image: url("bag-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
.float-cart .bag--float-cart-closed {
  position: absolute;
  background-color: #000;
  background-size: 50%;
  left: -60px;
  width: 60px;
  height: 60px;
  cursor: pointer; }
.float-cart .bag--float-cart-closed .bag__quantity {
  bottom: 5px;
  right: 10px; }
.float-cart .bag__quantity {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #0c0b10;
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background-color: #eabf00;
  position: absolute;
  bottom: -5px;
  right: 0px; }
.float-cart__header {
  color: #ececec;
  box-sizing: border-box;
  text-align: center;
  padding: 45px 0; }
.float-cart__header .header-title {
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle; }
.float-cart__shelf-container {
  min-height: 280px; }
.float-cart__shelf-container .shelf-empty {
  color: #ececec;
  text-align: center;
  line-height: 40px; }
.float-cart__shelf-container .shelf-item {
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  transition: background-color 0.2s, opacity 0.2s; }
.float-cart__shelf-container .shelf-item::before {
  content: '';
  width: 90%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 5%; }
.float-cart__shelf-container .shelf-item--mouseover {
  background: #0c0b10; }
.float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .title, .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .desc {
  text-decoration: line-through;
  opacity: 0.6; }
.float-cart__shelf-container .shelf-item--mouseover .shelf-item__price {
  text-decoration: line-through;
  opacity: 0.6; }
.float-cart__shelf-container .shelf-item__del {
  width: 16px;
  height: 16px;
  bottom: 15px;
  right: 5%;
  border-radius: 50%;
  position: absolute;
  background-size: auto 100%;
  background-image: url("./../components/shelf/sprite_delete-icon.png");
  background-repeat: no-repeat;
  z-index: 2;
  cursor: pointer; }
.float-cart__shelf-container .shelf-item__del:hover {
  background-position-x: -17px; }
.float-cart__shelf-container .shelf-item__thumb, .float-cart__shelf-container .shelf-item__details, .float-cart__shelf-container .shelf-item__price {
  display: inline-block;
  vertical-align: middle; }
.float-cart__shelf-container .shelf-item__thumb {
  vertical-align: middle;
  width: 15%;
  margin-right: 3%; }
.float-cart__shelf-container .shelf-item__thumb img {
  width: 100%;
  height: auto; }
.float-cart__shelf-container .shelf-item__details {
  width: 70%;
  position: relative;
  top: 8px;
}
.float-cart__shelf-container .shelf-item__details .title {
  color: #ececec;
  margin: 0;
  font-size: 120%;}
.float-cart__shelf-container .shelf-item__details .desc {
  color: #5b5a5e;
  margin: 0;
  font-size: 120%;}
.float-cart__shelf-container .shelf-item__price {
  color: #eabf00;
  text-align: right;
  width: 15%;
  font-size: 150%;
  position: relative;
  left: 60px; }
.float-cart__footer {
  box-sizing: border-box;
  padding: 5%;
  box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.3); }
.float-cart__footer .sub, .float-cart__footer .sub-price {
  color: #5b5a5e;
  vertical-align: middle;
  display: inline-block; }
.float-cart__footer .sub {
  width: 20%; }
.float-cart__footer .sub-price {
  width: 80%;
  text-align: right; }
.float-cart__footer .sub-price__val, .float-cart__footer .sub-price__installment {
  margin: 0; }
.float-cart__footer .sub-price__val {
  color: #eabf00;
  font-size: 22px; }
.float-cart__footer .buy-btn {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  cursor: pointer;
  transition: background-color 0.2s; }
.float-cart__footer .buy-btn:hover {
  background-color: #000;
  color: #ececec;  }

@media only screen and (max-width: 640px) {

  .shelf-container {
    width: 75%; }
  .shelf-container .shelf-item {
    width: 50%;
    padding: 10px; }
  .shelf-container .shelf-item__title {
    margin-top: 5px;
    padding: 0; }
  .float-cart {
    width: 100%;
    right: -100%; }
  .float-cart--open {
    right: 0; }
  .float-cart__close-btn {
    left: 0px;
    z-index: 2;
    background-color: #1b1a20; }
  .float-cart__header {
    padding: 25px 0; } }

@media screen and (min-width: 640px) {
  .float-cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px; }
  .float-cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10; } }

.float-cart__content {
  height: 100%;
  overflow-y: scroll; }


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.wrapper{
  position: absolute;
  top: 20%;
  left: 20%;

}
.product_list{
  width: 150%;
}

.product_list tbody tr:last-child {
  background-color: #0c0b10;
  color: #ffffff;
  border-bottom: 1px solid #fff;
}
.product_list tr {
  border-bottom: 1px solid #0c0b10;
  display: block;
  padding: 10px 20px;
}
.product_list .name_td {
  text-align: left;
  font-size: 150%;

}
.product_list .delete_td, .product_list .price_td {
  min-width: 100px;
  text-align: center;
  font-size: 150%;
}

.product_list .title_td-item{
  font-size:20px;

}

.product_list .delete_td-item {
  min-width: 100px;
  text-align: center;
  font-size: 150%;
}

.product_list .price_td-item {
  min-width: 100px;
  text-align: center;
  font-size: 150%;
  color: #eabf00;
}

.product_list .cart_line {
  color: #ffffff;
}

.product_list tbody tr{
  background-color: #1b1a20;
}
.product_list tbody td{
  width:100%;
  padding: 5px;
  white-space: nowrap;

}
.product_list thead{
  background-color: #0c0b10;
}
.product_list th{
  width:100%;
  padding: 5px;
  color: #ffffff;
}

.product_list .thumb_td-item {
  width: 20%;
}

.checkout__del {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  background-size: auto 100%;
  background-image: url("./../components/shelf/sprite_delete-icon.png");
  background-repeat: no-repeat;
  z-index: 2;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.checkout__del:hover {
  background-position-x: -32px; }

.totals-table .totalPrice{
  min-width: 100px;
  text-align: center;
  font-size: 150%;
  color: #eabf00;
}

.product_list .cart_line--mouseover {
  background-color: #0c0b10; }

.product_list .cart_line--mouseover .title_td-item, .product_list .cart_line--mouseover .price_td-item {
  text-decoration: line-through;
  opacity: 0.6;
}

.checkout_header{
  position: relative;
  padding: 5px 5px 10px 5px;
}

.checkout_header .checkout_header-text{
  position: relative;
  top: 10px;
  left: 10px;
}

.wrapper .clean-btn {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.1s;
  width: 40%;
  position: relative;
  bottom: 55px;
  left: 810px;
}
.wrapper .clean-btn:hover {
  background-color: #000;
  color: #ececec;
  text-decoration: underline;
}

.wrapper .buy-btn {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.1s;
  width: 40%;
  position: relative;
  left: 810px;
  font-weight: bold;
}
.wrapper .buy-btn:hover {
  background-color: #eabf00;
  color: #ffffff;
}

.wrapper .back-btn {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.1s;
  width: 40%;
  position: relative;
  top: 50px;
}
.wrapper .back-btn:hover {
  background-color: #000;
  color: #ececec;
  text-decoration: underline;
}


.empty-checkout .back-btn2 {
  color: #ececec;
  text-transform: uppercase;
  background-color: #0c0b10;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.1s;
  width: 20%;
  position: relative;
}
.empty-checkout .back-btn2:hover {
  background-color: #000;
  color: #ececec;
  text-decoration: underline;
}




